<div class="text-center">
  <h5>Sorry, no pets found.</h5>
  <h5>Please consider using different filters.</h5>
  <h5>Click
    <%= link_to "here", request.path, class: 'text-dark text-decoration-underline' %>
    to see all the pets.</h5>
</div>