<div class="d-flex justify-content-end align-items-center mb-2">
  <h5 class="m-0"><%= t('.sort') %>:</h5>
  <%= sort_link(@q, :date_of_birth, t('.birthday'), default_order: :desc, class: 'ms-2 text-dark') %>
</div>
