<div class="d-flex justify-content-end align-items-center mb-2">
  <h5 class="m-0">Sort by:</h5>
  <%= sort_link(@q, :date_of_birth, 'Birthday', default_order: :desc, class: 'ms-2 text-dark') %>
</div>
