<% provide(:page_title, 'New Post') %>
<% provide(:blog_active, 'active') %>

<div class="page-header mt-4 mb-4 d-flex flex-row align-items-center">
  <div class="col-1">
    <%= link_to 'Back', :back, class: 'btn btn-outline-dark' %>
  </div>
  <div class="col-11">
    <h4 class="m-0 p-0 text-center">Create a Post:</h4>
  </div>
</div>

<%= render 'form' %>
