<p>Привіт, <%= @user.name %>!</p>

<p>Ми отримали запит на зміну Вашого пароля. Це можна зробити за допомогою посилання нижче.</p>

<p><%= link_to 'Змінити мій пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Якщо це не Ви робили запит, будь-ласка, ігноруйте цей імейл.</p>
<p>Ваш пароль не зміниться поки Ви не перейдете по посиланню вище та не створите новий пароль.</p>
